

.SodaCard{
    padding: 1.2em 2em;
    background-color: white;
    border-radius: 2em;
    color: black;
    display: flex;
    flex-direction: column;
    position: relative;
}

.promoPin{
    position: absolute;
    height: 1em;
    width: 1em;
    background-color: red;
    color: orange;
    top: -2%;
    right: -2%;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.promoPin svg{
    height: 90%;
}

.SodaCard.promo{
    color: red;
    background-color: chartreuse;
}