.MyCard{
    padding: 0.5em;
    height: 120px;
    width: 120px;
    background-color: chartreuse;
    border-radius: 12px;
    color: red;
    font-weight: bold;
}

.MyCard svg{
    fill: white;
}

